* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1e1e1e;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  color: #6200ee;
}

header p {
  font-size: 1.1rem;
  color: #ccc;
}

main {
  flex-grow: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  background: #303030;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: transform .3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
  /* Keeps fixed radio */
  aspect-ratio: 4 / 3;
}

.card h2 {
  font-size: 1.4rem;
  margin: .75rem 1rem .25rem 1rem;
}

.card p {
  flex-grow: 1;
  font-size: .95rem;
  color: #aaa;
  margin: 0 1rem 1rem 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.links a {
  text-decoration: none;
  color: #fff;
  background: #6200ee;
  padding: .5rem 1rem;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  width: 100%;
}

.links a:hover {
  background: #3700b3;
}

footer {
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: .9rem;
  color: #777;
}

footer .social {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .social a {
  text-decoration: none;
  color: #6200ee;
  transition: all .3s ease;
}

footer .social a:hover {
  color: #3700b3;
}

@media (min-width: 768px) {
  header {
    padding: 2rem 1rem;
  }

  .grid-container {
    padding: 2rem;
  }
  
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}