* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-container-width: 500px;
  --page-padding-x: 1rem;
  --page-padding-y: 5.625rem;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(225, 229, 242);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container,
.stats-container {
  width: 100%;
  padding: 0 var(--page-padding-x);
  max-width: var(--page-container-width);
  margin: 0 auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .625rem;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  width: 100%;
  height: var(--page-padding-y);
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  color: rgb(49, 57, 60);
  font-size: 1.125rem;
  display: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding-bottom: var(--page-padding-y);
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-board {
  background: rgb(69, 113, 144);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: .25rem;
  padding: .25rem;
}

.cell {
  aspect-ratio: 1 / 1;
  background: rgb(89, 139, 175);
  border-radius: .25rem;
  margin: .25rem;
}

.game-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(239, 71, 111);
  border-radius: .5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: .625rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.stats {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--page-padding-y);
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 4rem 8rem 8rem rgb(0, 0, 0, .5);
  padding: 1rem 0;
  animation: slideUp 2s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.badge {
  background: rgb(49, 57, 60);
  border-radius: .5rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: .25rem;
  width: 100%;
}

.badge-label {
  text-transform: uppercase;
}

@media (min-width: 475px) {
  :root {
    --page-padding-x: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .stats-container {
    gap: 2rem;
  }  
}

@media (min-width: 768px) {
  :root {
    --page-container-width: 600px;
  } 
}